.fill { 
    height: 80vh;
}

.memoji-size {
    font-size: 300px;
}

/* TODO: turn the following into Styled Components to stop CSS leaking into other files */
@media (min-width: 510px) {
	.image-size {
		width: 450px;
		height: 450px;
	}
	.title-size {
		font-size: 20px;
	}
  .job-title-size {
    font-size: 25px;
  }
	.large-heading {
		font-size: 38px;
	}
	.left-section {
		min-width: 535px;
	}
}

@media (max-width: 450px) {
  .flex-direction {
    flex-direction: column;
  }
  .navbar-brand {
    margin: 0px;
  }
	.text-section {
		order: 1;
		min-height: 200px;
	}
	.image-size {
		width: 250px;
		height: 250px;
	}
	.title-size {
		font-size: 20px;
	}
  .job-title-size {
    font-size: 25px;
  }
	.large-heading {
		font-size: 31px;
    margin: 0px;
	}
  .left-section {
		max-width: 300px;
	}
	.text-alignment {
		text-align: center;	
	}
}