.loading {
    background: transparent url(../../Images/cloudme.png) no-repeat center center;
}

.blog-card-container {
    max-width: 48%;
    padding: 0px;
    transition: 0.5s;
    text-align: left;
    &:hover {
        box-shadow: 14px 14px 14px 0px rgba(0,0,0,0.2);
    }
}