.title-color {
    color: #1db954;
}

.card {
    border: 0px;
    margin-bottom: 80px;
}

.project-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.left-panel {
    min-width: 130px;
}
