.title-color {
  color: #1db954;
}

.project-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.left-panel {
  min-width: 18%;
}

@media (min-width: 510px) {
  .portfolio-container {
    margin: auto;
    max-width: 70vw;
  }
}